<h1 class="mdc-typography--headline4">Livios Raspberry Pi</h1>

<div class="section-cards">
    <a href="http://192.168.1.18:8989" class="mdc-card mdc-card--outlined">
        <div class="mdc-card__primary-action">
            <div class="sonarr mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                </div>
            </div>
            <!-- ... additional primary action content ... -->
            <div class="mdc-card__ripple"></div>
        </div>
    </a>

    <a href="http://192.168.1.18:7878" class="mdc-card mdc-card--outlined">
        <div class="mdc-card__primary-action">
            <div class="radarr mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                </div>
            </div>
            <!-- ... additional primary action content ... -->
            <div class="mdc-card__ripple"></div>
        </div>

    </a>

    <a href="http://192.168.1.18:8686" class="mdc-card mdc-card--outlined">
        <div class="mdc-card__primary-action">
            <div class="lidarr mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                </div>
            </div>
            <!-- ... additional primary action content ... -->
            <div class="mdc-card__ripple"></div>
        </div>

    </a>

    <a href="http://192.168.1.18:9091" class="mdc-card mdc-card--outlined">
        <div class="mdc-card__primary-action">
            <div class="transmission mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                </div>
            </div>
            <!-- ... additional primary action content ... -->
            <div class="mdc-card__ripple"></div>
        </div>


    </a>

    <a href="http://192.168.1.18:9117" class="mdc-card mdc-card--outlined">
        <div class="mdc-card__primary-action">
            <div class="jackett mdc-card__media mdc-card__media--square">
                <div class="mdc-card__media-content">
                </div>
            </div>
            <!-- ... additional primary action content ... -->
            <div class="mdc-card__ripple"></div>
        </div>


    </a>
</div>


<div class="section">

    <a href="/reboot" class="mdc-button mdc-button--outlined"> <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">restart_alt</i>
        <span class="mdc-button__label">Reboot</span>
    </a>

    <a href="/shutdown" class="mdc-button mdc-button--outlined"> <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">power_settings_new</i>
        <span class="mdc-button__label">Shutdown</span>
    </a>

     <a href="/donwloads/complete" class="mdc-button mdc-button--outlined"> <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">power_settings_new</i>
        <span class="mdc-button__label">Remove Complete Downloads</span>
    </a>

    <a href="/donwloads/incomplete" class="mdc-button mdc-button--outlined"> <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true">power_settings_new</i>
        <span class="mdc-button__label">Remove Incomplete Downloads</span>
    </a>
</div>



<script>
    mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
</script>