<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Livios Raspberry Pi</title>

  <!-- Add support for Web Components to older browsers. -->
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="apple-mobile-web-app-title" content="Livios Raspberry Pi">
  <link rel="apple-touch-icon" href="/logo.jpg" sizes="72x72">
  <!-- Your application must load the Roboto and Material Icons fonts. -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <style>
    html,
    body {
      margin: 0;
      background: #fafafa;
    }

    main {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
    }

    section {
      max-width: 1240px;
      width: 100%;
      padding: 64px 32px;
    }

    h1 {
      margin-bottom: 64px;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 32px;
    }

    .section-cards {
      gap: 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .sonarr {
      background-image: url("sonarr.png");
    }

    .radarr {
      background-image: url("radarr.png");
    }

    .lidarr {
      background-image: url("lidarr.png");
    }

    .jackett {
      background-image: url("jackett.png");
    }

    .transmission {
      background-image: url("transmission.png");
    }
  </style>
</head>

<body class="mdc-typography">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <main>
    <section>

      {{{body}}}
    </section>

  </main>

</body>

</html>